@charset "UTF-8";
/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
}

fieldset, img, input, button { /*fieldset组合表单中的相关元素*/
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

ul, ol {
    list-style: none; /*清除列表风格*/
}

input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun", "宋体";
}

select, input {
    vertical-align: middle;
}

select, input, textarea {
    font-size: 12px;
    margin: 0;
}

textarea {
    resize: none;
}

/*防止多行文本框拖动*/
img {
    border: 0;
    vertical-align: middle;
}

/*  去掉图片低测默认的3像素空白缝隙*/
table {
    border-collapse: collapse; /*合并外边线*/
}

body {
    font: 12px/150% Arial, Verdana, "\5b8b\4f53"; /*宋体，Unicode，统一码*/
    color: #666;
    background: #fff
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #C81623;
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}

s, i, em {
    font-style: normal;
    text-decoration: none;
}

.col-red {
    color: #C81623 !important;
}

/*公共类*/
.w {
    /*版心 提取 */
    width: 1210px;
    margin: 0 auto;
}

.fl {
    float: left
}

.fr {
    float: right
}

.al {
    text-align: left
}

.ac {
    text-align: center
}

.ar {
    text-align: right
}

.hide {
    display: none
}

    /*site-nav 部分 start*/
    .site-nav {
        height: 30px;
        line-height: 30px;
        background-color: #F1F1F1;
    }
    .site-nav-send ,
    .site-nav-r .fore{
        position: relative;
        padding: 0 25px 0 10px;

    }
    .site-nav-send:hover{
        background-color: #FFF;
    }
    .site-nav-send i ,
    .site-nav-r i{
        position: absolute;
        top: 12px;
        right: 8px;
        width: 15px;
        height: 7px;
        overflow: hidden;
    }
    .site-nav-send s ,
    .site-nav-r s{
        /*display: block;
        margin-top: -7px;*/
        position: absolute;
        top: -7px;
        font: 400 13px/15px "consolas";
    }
    .site-nav-r li{
        float: left;
        padding-left: 10px;
    }
    .site-nav-r .line{
        background-color: #DDD;
        width: 1px;
        height: 12px;
        margin-top: 10px;
        padding: 0;
        margin-left: 10px;
    }
    .site-nav-r .jd-tel{
        padding-left: 25px;
    }
    .jd-tel span{
        position: absolute;
        top: 5px;
        left: 6px;
        width: 15px;
        height: 20px;
        background: url("../images/tel.png") no-repeat ;
    }

   /*top-banner部分  start*/
    .top-banner{
        background-color: orange;
    }
    .tb{
        position: relative;
    }
    .close-banner{
        position: absolute;
        top: 5px;
        right: 5px;
        width: 19px;
        height: 19px;
        background: url("../images/close-banner.png") no-repeat;
    }
    .close-banner:hover{
        background-position: bottom;
    }

    /*top-banner部分  start*/
    .search-logo{
        float: left;
        width: 362px;
        height: 100px;
    }
    .search-logo a{
        display: block;
        width: 270px;
        height: 60px;
        margin: 20px 0;
        text-indent: -9999px;
        background: url("../images/logo.png") no-repeat;
    }
    .search-input{
        float: left;
        height: 36px;
        padding-top: 25px;
    }
    .search-input input{
        float: left;
        width: 450px;
        height: 32px;
        border: 2px solid red;
        border-right: 0;
        background-color: #F9F9F9;
        padding-left: 4px;
        font: 400 14px/36px "微软雅黑";
    }
    .search-input button{
        float: left;
        width: 82px;
        height: 36px;
        cursor: pointer;
        font: 400 16px/36px "微软雅黑";
        color: #FFFFFF;
        background-color: red;
    }
    .search-car{
        position: relative;
        float: right;
        width: 139px;
        height: 34px;
        border: 1px solid #DFDFDF;
        margin: 25px 65px 0 0;
        background-color: #F9F9F9;
    }

    .search-car a{
        font:400 13px/34px "SimSun";
        padding-left: 30px;
    }
    .search-car .icon1{
        position: absolute;
        left: 8px;
        top: 9px;
        width: 19px;
        height: 15px;
        background: url("../images/tel.png") no-repeat 0 -58px;
    }

    .search-car .icon2{
        position: absolute;
        top: -5px;
        width: 16px;
        height: 14px;
        line-height: 14px;
        text-align: center;
        color: white;
        border-radius: 7px 7px 7px 0;
        background-color: red;
    }
    .search-car .icon3{
        position: absolute;
        right: 10px;
        color: #999;
        font: 13px/34px "SimSun";

    }

    .search-moreAlink{
        float: left;
        width: 538px;
        height: 28px;
        line-height: 28px;
    }

    .search-moreAlink a{
        margin-left: 10px;
    }

    /*top-banner部分  start*/
    .shotcut-nav{
        width: 100%;
        height: 44px;
        border-bottom: 2px solid #B1191A;
    }
    .shotcut-nav-menu{
        width: 210px;
        height: 44px;
        float: left;
        background-color: #C81623;
    }
    .shotcut-nav-menu-all a{
        display: block;
        width: 210px;
        height: 44px;
        padding: 0 10px;
        font: 400 16px/44px "microsoft yahei";
        color: white;
    }
    .shotcut-nav-menu-one{
        width: 210px;
        height: 464px;
        margin-top: 2px;
        background-color: #C81623;
        border-left: 2px solid #B1191A;
        border-bottom: 2px solid #B1191A;
    }
    .shotcut-nav-items{
        width: 730px;
        height: 44px;
        float: left;
        background-color: pink;
    }
    .shotcut-nav-img{
        width: 200px;
        height: 44px;
        float: right;
        margin-right: 50px;
        margin-top: -10px;
    }



    /*footer 部分  start*/
    .footer-top-slogen{
        position: relative;
        width: 100%;
        height: 91px;
        margin-bottom: 16px;
        background-color: #F9F9F9;
    }

    .footer-top-slogen-img{
        position: absolute;
        left: 50%;
        margin-top: 20px;

    }


    .footer-top-slogen-icon1{
        margin-left: -602px;
    }

    .footer-top-slogen-icon2{
        margin-left: -301px;
    }

    .footer-top-slogen-icon4{
       margin-left: 301px;
    }

    .footer-top-shopping dl{
        float: left;
        width: 200px;

    }
    .footer-top-shopping dt,h3{
        height: 34px;
        font: 400 18px/34px "微软雅黑";
    }
    .footer-top-shopping .last-dl{
        width: 100px;
    }

    .coverage{
        width: 189px;
        height: 169px;
        margin-right: 60px;
        padding-left: 17px;
        background: url("../images/china.png") no-repeat left bottom;
    }
    .coverage p{
        padding-top: 8px;
    }

    .footer-bottom{
        border-top: 1px solid #E5E5E5;
        margin-top: 20px;
        padding: 20px 0 30px 0;
        text-align: center;
    }
    .footer-bottom-link a{
        margin: 0 5px;
    }
    .footer-bottom-copyRight{
        margin-top: 20px;
    }
    .footer-bottom-images{
        margin-top: 20px;
    }
    .footer-bottom-images img{
        padding-left: 5px;
    }





    /*top-banner部分  start*/































